[sources.dummy_logs]
type = "demo_logs"
format = "syslog"
interval = {{ vector_interval | default(1) }}

[transforms.parse_logs]
type = "remap"
inputs = ["dummy_logs"]
source = '''
. = parse_syslog!(.message)
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
endpoint = "http://{{ clickhouse_host | default('127.0.0.1') }}:8123"
database = "logs"
table = "syslog"
encoding.timestamp_format = "unix"
compression = "gzip"